.navbar {
  .logo {
    width: 150px;
  }

  .profileImage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #fff;
    cursor: pointer;
  }
  .cursorPointer {
    cursor: pointer;
  }

  .cart-badge {
    position: absolute;
    top: -8px;
    right: -10px;
    background: red;
    color: #fff;
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 50%;
  }
}

/* Hover Underline */
.center-menu li a {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -3px;
    width: 100%;
    height: 2px;
    background: #fff;
    transform: translateX(-50%) scaleX(0);
    transition: 0.3s ease;
  }

  &:hover::after {
    transform: translateX(-50%) scaleX(1);
  }
}

.center-menu li.active a::after {
  transform: translateX(-50%) scaleX(1) !important;
}

/* Dropdown */
.custom-dropdown-menu {
  width: 320px;
  border-radius: 20px;
  background: #f7f8fc;
  border: none;
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.2s ease-out;
}
.custom-item,
.logout-item {
  display: flex;
  align-items: center;
  padding: 12px 5px;
  border-radius: 12px;
  font-weight: 500;
}
.profile-img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  object-fit: cover;
}

/* Responsive */
@media (max-width: 992px) {
  .center-menu {
    gap: 1rem !important;
  }

  .nav-link {
    justify-content: center;
  }

  .logo {
    width: 130px !important;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
