<footer class="footer-section bg-success text-white pt-4 pb-3">

    <div class="container">

        <div class="row gy-4">

            <!-- Logo + About -->
            <div class="col-md-4">
                <h4 class="fw-bold mb-3"><img src="../../../../assets/images/Logo.svg" alt=""></h4>
                <p class="footer-text">
                    The best place to find delicious meals, order your food and enjoy fast delivery.
                </p>

                <!-- Social icons -->
                <div class="social-icons d-flex gap-3 mt-3">
                    <a href="https://www.facebook.com/mohamed.fekry.430814" target="_blank" rel="noopener noreferrer"
                        class="social"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="www.linkedin.com/in/mohammed-fekry3" target="_blank" rel="noopener noreferrer"
                        class="social"><i class="fa-brands fa-linkedin-in"></i></a>
                    <a href="https://wa.me/+201000005619" target="_blank" rel="noopener noreferrer" class="social"><i
                            class="fa-brands fa-whatsapp"></i></a>
                    <a href="https://www.youtube.com/" target="_blank" rel="noopener noreferrer" class="social"><i
                            class="fa-brands fa-youtube"></i></a>
                </div>
            </div>

            <!-- Menu Links -->
            <div class="col-md-2">
                <h5 class="fw-bold mb-3">Menu</h5>
                <ul class="list-unstyled footer-links">
                    <li><a routerLink="/layout/home">Home</a></li>
                    <li><a routerLink="/layout/categories">Categories</a></li>
                    <li><a routerLink="/layout/favorite">Favorite</a></li>
                    <li><a routerLink="/layout/Cart">Cart</a></li>
                </ul>
            </div>

            <!-- Useful Links -->
            <div class="col-md-3">
                <h5 class="fw-bold mb-3">Useful Links</h5>
                <ul class="list-unstyled footer-links">
                    <li><a routerLink="/layout/ContactUs">Contact Us</a></li>
                </ul>
            </div>

            <!-- Contact -->
            <div class="col-md-3">
                <h5 class="fw-bold mb-3">Contact</h5>
                <p class="mb-1"><i class="fa-solid fa-phone"></i> +201000013342</p>
                <p class="mb-1"><i class="fa-solid fa-envelope"></i>mo7mdFekry.gmail.com</p>
                <p><i class="fa-solid fa-location-dot"></i> Cairo, Egypt</p>
            </div>

        </div>

        <!-- Copyright -->
        <div class="text-center mt-4 pt-3 border-top">
            <p class="m-0">© 2025 HumaVolve. All Rights Reserved.</p>
        </div>

    </div>

</footer>