<div class="container py-4 pt-5">

    <form class="search-form mb-2">
        <div class="search-wrap mx-auto">
            <i class="fas fa-search search-icon"></i>

            <input type="search" class="form-control search-input rounded-pill" placeholder="Search about category"
                [value]="searchValue()" (input)="onSearch($event)" (keyup.enter)="onEnter()" />
        </div>
    </form>

    <div class="row g-5 mt-1">

        <!-- No Data Found -->
        <div *ngIf="dashes().length === 0" class="no-data-box">
            <h3>No Data Found</h3>
        </div>

        <!-- Cards -->
        <div class="col-lg-4 col-md-6 col-12" *ngFor="let item of dashes()">

            <div class="food-card">

                <div class="image-container">
                    <img [src]="item?.image || 'assets/images/NoImage.jpeg'" alt="Balanced Meals" />
                </div>

                <h4 class="title">
                    {{ (item?.name || '') | slice:0:20 }}
                    {{ (item?.name || '').length > 20 ? '...' : '' }}
                </h4>
                <p class="desc">
                    {{ (item?.description || '') | slice:0:40 }}
                    {{ (item?.description || '').length > 40 ? '...' : '' }}
                </p>

                <h5 class="price">
                    {{ item?.price || 0 }}
                    <span>EGP</span>
                </h5>

                <div class="bottom-row d-flex justify-content-between align-items-center mt-2">

                    <div class="rating">
                        <i class="fa-solid fa-star" *ngFor="let s of getStars(item?.rating || 0)"></i>

                        <i class="fa-regular fa-star" *ngFor="let s of getEmptyStars(item?.rating || 0)"></i>
                    </div>

                    <div class="macros d-flex align-items-center gap-2">
                        <i class="fa-solid fa-fire-flame-curved kcal-icon"></i>
                        <span>
                            {{ item?.kcal || 0 }} kcal • {{ item?.protein || '-' }}
                        </span>
                    </div>

                </div>

                <div class="actions d-flex align-items-center justify-content-between mt-3">

                    <div>
                        <div class="qty-counter d-flex align-items-center gap-2">
                            <button class="qty-btn" (click)="decreaseQty(item)">−</button>

                            <span class="qty-value">
                                {{ item?.quantity ? item.quantity() : 1 }}
                            </span>

                            <button class="qty-btn" (click)="increaseQty(item)">+</button>
                        </div>
                    </div>

                    <div class="d-flex align-items-center gap-2">
                        <button (click)="ToggleFavorites(item?.id)" class="fav-btn">
                            <i class="fa-regular fa-heart"></i>
                        </button>

                        <button (click)="addProductToCart(item)" class="add-btn">
                            Add To Cart
                        </button>
                    </div>

                </div>

            </div>

        </div>

    </div>

</div>