.profile-card {
  background: #fff;
  border-radius: 20px;

  label {
    font-size: 14px;
  }
}

.info-item div {
  font-size: 15px;
  color: #333;
}

form .form-control {
  height: 48px;
}

button {
  font-weight: 600;
}
