/* RIGHT SUMMARY BOX */
.summary-box {
  background: #ffffff;
  border-left: 5px solid green;

  .checkout-btn {
    padding: 12px 25px;
    background: green;
    border: none;
    color: #fff;
    border-radius: 6px;
    font-weight: 600;
    transition: 0.3s;

    &:hover {
      background: rgb(72, 173, 72);
    }
  }
}

/* FOOD CARD */
.food-card {
  background: #fff;
  border-radius: 12px;
  display: flex;
  gap: 15px;
  transition: 0.3s;

  &:hover {
    transform: translateY(-3px);
  }

  /* IMAGE: 25% width */
  .image-container {
    width: 25%;
    height: 140px;
    border-radius: 12px;
    overflow: hidden;
    background: #f4f4f4;

    img {
      width: 100%;
      height: 100%;
    }
  }

  /* DETAILS */
  .title-row {
    .trash-icon {
      font-size: 1.2rem;
      color: #dc3545;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        color: #b02a37;
        transform: scale(1.1);
      }
    }
  }

  .title {
    font-size: 1.2rem;
    font-weight: 600;
  }

  .price {
    color: green;
    font-size: 1.3rem;
    font-weight: 700;

    span {
      font-size: 0.9rem;
      color: #444;
    }
  }

  .kcal-icon {
    color: rgb(72, 173, 72);
    font-size: 1rem;
  }

  .quantity-box {
    background: #f2f2f2;
  }
}
