.food-card {
  background: #fff;
  border-radius: 20px;
  padding: 20px;
  position: relative;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
  transition: 0.3s;

  &:hover {
    transform: translateY(-5px);
  }

  .image-container {
    position: absolute;
    top: -40px;
    right: -20px;

    img {
      width: 130px;
      height: 130px;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  .title {
    margin-top: 60px;
    font-weight: 700;
  }

  .desc {
    opacity: 0.7;
  }

  .price {
    font-size: 22px;
    font-weight: 700;
  }

  .rating i {
    color: #f7c000;
    font-size: 20px;
    margin-right: 3px;
  }

  .kcal-icon {
    color: green;
  }

  .fav-btn {
    background: #fff;
    border-radius: 12px;
    border: 1px solid #ddd;
    padding: 8px 14px;
    &:hover i {
      color: red;
    }
    i {
      color: green;
      font-size: 22px;
    }
  }

  .add-btn {
    background: green;
    color: #fff;
    padding: 10px 30px;
    border-radius: 12px;
    border: none;
    transition: 0.3s;

    &:hover {
      opacity: 0.8;
    }
  }
}
.category-card {
  background: #ffffff;
  transition: all 0.3s ease;
  cursor: pointer;
  border-radius: 16px;
  overflow: hidden;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.07);
  }
}

.category-img {
  width: 150%;
  height: 150px;
  object-fit: cover;
  border-radius: 50% !important;
  display: block;
}
.qty-counter {
  background: #f3f3f3;
  padding: 2px 2px;
  border-radius: 8px;
  min-width: 70px;
  justify-content: center;
}

.qty-btn {
  background: #ddd;
  border: none;
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.qty-value {
  font-size: 16px;
  font-weight: 600;
}
