<div class="container my-5">
    <div class="row">
        <div class="col-lg-6 p-4">
            <h1 class="contact-title">Contact Us</h1>
            <p class="mb-5 text-secondary">
                We are committed to processing the information in order to contact you and talk about your questions
            </p>

            <div class="d-flex align-items-center mb-3">
                <i class="fa-solid fa-phone text-success me-3 fa-lg"></i>
                <span class="contact-info-text">+201000005619</span>
            </div>

            <div class="d-flex align-items-center mb-3">
                <i class="fa-solid fa-envelope text-success me-3 fa-lg"></i>
                <span class="contact-info-text">mo7medFekry.gmail.com</span>
            </div>

            <div class="d-flex align-items-center mb-3 ">
                <i class="fa-solid fa-location-dot text-success me-3 fa-lg mt-1"></i>
                <span class="contact-info-text">
                    526 Melrose Street, Water Mill, 11976<br>
                    New York
                </span>
            </div>
        </div>

        <div class="col-lg-6 p-4">
            <form>
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Name">
                </div>
                <div class="mb-3">
                    <input type="email" class="form-control" placeholder="Email">
                </div>
                <div class="mb-4">
                    <textarea class="form-control" rows="8" placeholder="Message"></textarea>
                </div>
                <button type="button" class="btn btn-success w-100 ">Submit</button>
            </form>
        </div>
    </div>
</div>