.meal-card {
  width: 100%;
  background: #ffffff;
  border-radius: 22px;
  padding: 12px;
  box-shadow: 0 0 0 4px #ffffff;
  border: 2px solid #e6e6e6;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  transition: 0.3s ease;
}

.meal-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
}

.meal-img {
  width: 100%;
}

.meal-img img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 18px;
}

.meal-title {
  background: #016f36;
  color: #fff;
  padding: 8px 14px;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  width: 90%;
}
@media (max-width: 576px) {
  .meal-img img {
    height: 120px;
  }

  .meal-title {
    font-size: 0.95rem;
    padding: 6px 12px;
  }
}
