/* You can add global styles to this file, and also import other style files */
.password-toggle-btn {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  color: #666;
  font-size: 1.2rem;
  cursor: pointer;
}

.password-toggle-btn:focus {
  outline: none !important;
  box-shadow: none !important;
}
#toast-container {
  position: fixed !important;
  z-index: 999999 !important;
}

#toast-container > div {
  position: fixed !important;
  z-index: 999999 !important;
}

.toast-top-right {
  top: 90px !important; /* مسافة تحت النافبار */
  left: 0;
  z-index: 999999 !important;
}
