.bg-main {
  background-image: url(../../../../assets/images/bgmain.svg);
  background-color: black;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}
.bg-main::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}
@media (max-width: 992px) {
  .bg-main {
    background-image: none !important;
    background-color: transparent !important;
    height: auto !important;
    min-height: auto !important;
  }
  .bg-main::before {
    display: none !important;
  }
}
